.vscode/
export/

# you have caused me infinite, unimaginable amounts of grief and you WILL pay for it.
# I promise you that. I will ENSURE you never see the light of day again. not for even a second.
# you will pay for it with your life. you will pay for it with your children's lives.
# you never feel a single fleeting moment of happiness ever again. you are doomed to an eternity of misery.
# I will make your pathetic fucking life a living hell. I will make you suffer. I will make you cry.
# and when you FINALLY do the right thing and DIE, I promise you it won't release you from your misery.
# your soul will be tortured for all eternity. you will never be free. you will never be happy.
# you will never be at peace. you will never be able to rest. you will never be able to escape.
# and you deserve all of it.
# die.
.DS_Store
desktop.ini